.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background: #fff;
}

.product-card img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

.section-title {
  text-align: center;
  font-size: 2rem; /* Tamaño más grande */
  font-weight: bold;
  text-transform: uppercase; /* Mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  color: #333; /* Color oscuro elegante */
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

